# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
venv/

# C extensions
*.so

# SpiceInterface temporary files
spiceinterface_temp.*

# ngspice simulation files
b3v32check.log
bsim4v5.out

# results files
*.hdf5
