certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cocotb==1.4.0
cocotb-coverage==1.1.0
control==0.8.3
cycler==0.10.0
idna==2.10
kiwisolver==1.2.0
matplotlib==3.3.0
numpy==1.19.1
Pillow==7.2.0
pkg-resources==0.0.0
ply==3.11
pycparser==2.20
pyparsing==2.4.7
PySpice==1.4.3
python-constraint==1.4.0
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.24.0
scipy==1.5.2
six==1.15.0
urllib3==1.25.10
